{% extends 'admin/master.html' %}

{% block body %}

{% if current_user.is_authenticated and current_user.is_superuser %}
<div class="jumbotron">
    <h1 class="display-4">Plantas.com Admin</h1>
    <p class="lead">Jardinar é um caminho para uma vida saudável.</p>
    <hr class="my-4">
    <p>Você é um usuário administrativo e é por isso que está acessando isso!</p>
    <p class="lead">
        <a class="btn btn-danger btn-lg" href="{{url_for('core.admin_logout')}}" role="button">Sair</a>
        <a href="{{url_for('core.home')}}" class="btn btn-success btn-lg">Ir para Plantas.com</a>
    </p>
</div>
{% else %}
<div class="jumbotron">
    <h1 class="display-4">Login Plantas Admin</h1>
    <p class="lead">Jardinar é um caminho para uma vida saudável.</p>
    <hr class="my-4">
    <p>Você é um usuário administrativo!</p>
    <form method="post" action="{{url_for('core.admin_login')}}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="form-group">
          <label for="exampleInputEmail1">Usuário</label>
          <input name="username" type="text" class="form-control" placeholder="Seu usuário" required>
          <small class="form-text text-muted">Coloque seu nome de usuário administrativo.</small>
        </div>
        <div class="form-group">
          <label>Senha</label>
          <input name="password" type="password" class="form-control" placeholder="Senha" required>
        </div>
        <button type="submit" class="btn btn-primary">Faça login como administrador</button>
        <a href="{{url_for('core.home')}}" class="btn btn-success">Ir para Plantas.com</a>
    </form>
</div>
{% endif %}
{% endblock %}